* {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: antiquewhite;
}

#hImage1 {
    width: 150px;
    height: 70px;
}

.infom h2 {
    font-size: 14px;
    font-family: Algerian;
}

.blackBG {
    background-color: black !important;
}

.slideImage {
    width: 100%;
    height: 150px;
}

.imgDiv {
    border-radius: 5px;
}

.obj1 {
    width: 100%;
    height: auto;
}

.won {
    background-color: rgb(35, 84, 252);
}

.los {
    background-color: lightcoral;
}

.teams,
.scores,
.tnl {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-left: 5%;
}

.teams {
    grid-template-columns: repeat(2, 1fr);
}

.scores,
.tnl {
    grid-template-columns: repeat(3, 1fr);
}

.hTitle {
    width: 100%;
    clear: both;
    text-align: center;
    text-shadow: #ccc;
    font-family: Algerian;
    font-weight: bold;
     padding: 2px;
}
.predict {
    text-align: center;
    font-weight: bolder;
}

.statistics p {
    margin: 0;
}

.plans {
    border-style: groove;
    border-radius: 7px;
    border: 3px solid red;
    border-bottom: orange;
    border-left: blue;
}

.plans h5 {
    font-size: 18px !important;
    text-decoration: underline;
}

/* .footer {
    background-color: black;
    color: white;
} */


.cRights {
    text-align: center;
    font-size: 15px;
    height: 60px;
    color: white;
    margin-bottom: 5px;
    position: static;
    width: 100%;
}

.fa {
    font-size: 20px !important;
}
.fa a:hover,
.footer a:hover {
    color: white;
}
.balk marquee{
    color: white;
    font-size: large;
}
@media screen and (min-width: 350px) {
    .infom h2 {
        font-size: 17px;
    }
}

@media screen and (min-width: 390px) {
    .infom h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 450px) {
    .slideImage {
        height: 200px;
    }
}

@media screen and (min-width: 576px) {
    .teams {
        grid-template-columns: repeat(3, 1fr);
    }

    .infom h2 {
        font-size: 25px;
    }

}

@media screen and (min-width: 750px) {
    .infom h2 {
        font-size: 30px;
    }

    .slideImage {
        height: 300px;
    }

    .LLoogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
    }

    .Plan1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 5px;
    }
}

@media screen and (min-width: 950px) {
    #hImage1 {
        width: 200px;
        height: 100px;
    }
}