* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(assets/images/F5.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: coral !important;
}

#hImage1 {
    width: 150px;
    height: 70px;
}

.infom h2 {
    font-size: 14px;
    font-family: Algerian;
}

.slideImage {
    width: 100%;
    height: 150px;
}

.obj1 {
    border-color: antiquewhite;
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* background-color: rgb(205, 215, 248); */
    background-color: white;
}

.won {
    background-color: rgb(35, 84, 252);
}

.los {
    background-color: lightcoral;
}


.teams,
.scores,
.tnl {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-left: 5%;
}

.teams {
    grid-template-columns: repeat(2, 1fr);
}

.scores,
.tnl {
    grid-template-columns: repeat(3, 1fr);
}
/*
.rDot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.indicator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: red;
}

#d1 {
    background-color: orange;
}

#d2 {
    background-color: green;
}

#d3 {
    background-color: blue;
}
*/
.dInline {
    display: inline-flex;
    justify-content: space-evenly;
}

#Fball {
    width: 100%;
    clear: both;
}

.hTitle {
    width: 100%;
    border-style: groove;
    text-align: center;
    text-shadow: #ccc;
    font-family: Algerian;
    font-weight: bold;
}

.predict {
    text-align: center;
    font-weight: bolder;
}

.statistics p {
    margin: 0;
}

.plans {
    border-style: groove;
    border-radius: 7px;
    border: 3px solid red;
    border-bottom: orange;
    border-left: blue;
}

.plans h5 {
    font-size: 18px !important;
    text-decoration: underline;
}

.footer {
    background-color: black;
    color: white;
}

.cRights {
    text-align: center;
    font-size: 15px;
    height: 60px;
    color: white;
    margin-bottom: 5px;
    position: static;
    width: 100%;
}

.fa {
    font-size: 20px !important;
}

header .fa {
    color: white;
}

.footer a:hover {
    color: white;
}


@media screen and (min-width: 350px) {
    .infom h2 {
        font-size: 17px;
    }
}

@media screen and (min-width: 390px) {
    .infom h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 450px) {
    .slideImage {
        height: 200px;
    }
}

@media screen and (min-width: 576px) {
    .teams {
        grid-template-columns: repeat(3, 1fr);
    }

    .infom h2 {
        font-size: 25px;
    }
    
}

@media screen and (min-width: 750px) {
    .infom h2 {
        font-size: 30px;
    }

    .slideImage {
        height: 300px;
    }

    .LLoogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
    }
    
    .Plan1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 5px;
    }
    .mainFooter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    #socialLinks div{
        display: block !important;
        margin-left: 40px;
    }
    

}

@media screen and (min-width: 950px) {
    #hImage1 {
        width: 200px;
        height: 100px;
    }
    #socialLinks div{
        display: inline-block !important;
        margin-left: unset;
    }
}